<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="System.Demo.Tools.Properties.Settings.BD_GC_DEMOConnectionString"
            connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_DEMO;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>