@model CROM.GC.Models.SistemaModels
<div>
    <img src="@Url.Content("~/Content/Images/"+@Model.strLogotipo)" alt="Logo Empresa" width="250px" />

    <span class="masterTitle"> @Model.strTitulo</span>
</div>
