<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="System.Demo.DataAccess.Properties.Settings.BD_GC_DEMOConnectionString"
            connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_DEMO;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="System.Demo.DataAccess.Properties.Settings.BD_GC_DEMOConnectionString1"
            connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;Initial Catalog=BD_GC_DEMO;User ID=sa;Connect Timeout=1000"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>