<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="cnxDEMO_MVC" connectionString="Data Source=LAP01-OCARRIL\SQLEXPRESSCROM;  Initial Catalog=BD_GC_DEMO;  User ID=sa; Password=uscrom77;Connect Timeout=1000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="DEFAULT_KEY_SYSTEM" value="42D834AA-D0ED-4889-9126-FC40F2DB86BB" />
    <!--PUBLICADO AZURE-->
    <add key="DEFAULT_URL_WEBAPP_Comercial" value="http://localhost:8195/" />
    <add key="DEFAULT_URL_WS_API_Seguridad" value="http://analyticsocarril.azurewebsites.net/" />
    <add key="DEFAULT_LinkTipoCambio" value="https://e-consulta.sunat.gob.pe/cl-at-ittipcam/tcS01Alias" />
    <!-- OK - Valores del Acceso a segurdad-->
    <add key="DEFAULT_ServicioWEB" value="N" />
    <add key="DEFAULT_EncryptaCONFIG" value="S" />
    <add key="DEFAULT_Encriptacion" value="SQLDLL" />
    <!-- SQLDLL = DLL encapsulado en  SQL SERVER 
         EXTDLL = DLL HelpSeguridad en  Assembly     -->
    <add key="DEFAULT_SeguridadKey" value="CROMGCPN" />
    <!-- OK - Valores del SISTEMA BD_GestComerCROMv2Pruebasz-->
    <add key="DEFAULT_SistemaInicio" value="0003" />
    <add key="DEFAULT_Idioma" value="es-PE" />
    <!-- OK - Valores que vienen desde Maestros [ADMIN-USER]-->
    <add key="DEFAULT_TipoException" value="USER" />
    <add key="DEFAULT_ValorTimeout" value="600000" />
    <add key="DEFAULT_HorasFechaActualCloud" value="0" />
    <add key="DEFAULT_SAVE_DOCUM_MODE_NEW" value="0" />
  </appSettings>
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="http://localhost:8195/" />
    </authentication>
    <customErrors mode="On" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="500" redirect="/Error.htm" />
      <error statusCode="403" redirect="/Error.htm" />
      <error statusCode="404" redirect="/Error/NoFound/" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="500000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value="-yyyy.MM" />
      <param name="File" value="C:\ocarril\logs\CodeExample\code\NET\gestion.comercial\componentes\logs\CROM.GC.web.application_00.log" />
      <param name="RollingStyle" value="Date" />
      <param name="StaticLogFileName" value="false" />
      <param name="maxSizeRollBackups" value="50" />
      <param name="maximumFileSize" value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-25.25c{1} %-30.30M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>
<!--ProjectGuid: E1EC4BEE-6182-4FB5-AF32-4D7FB656117D-->